
<div *ngIf="jobDetails">
	<div class="panel panel-default">
	<div class="panel-heading"><h3>{{jobDetails.title}}</h3></div>
	<div class="panel-body">
		{{jobDetails.company}}<br>
		{{jobDetails.city}} - {{jobDetails.zipcode}}<br>
		{{jobDetails.contract}}
		<hr>
		publié le {{jobDetails.publishdate | toShortDate}} <br>
		actualisé le {{jobDetails.lastupdate | toShortDate}} <br>
		salaire : {{jobDetails.salary}} {{jobDetails.currency | toMoneySymbol}} <br>
		<hr>
		<b>Descriptif du poste</b>
		<div>
			{{jobDetails.description}}
		</div>
		<hr>
		<div>
			Date de démarrage : {{jobDetails.startdate | toShortDate}}<br>
			status : {{jobDetails.status}}
			déplacement : {{jobDetails.area}}
		</div>
	</div>
	</div>
	<pre>{{jobDetails | json}}</pre>
</div>

<div *ngIf="errorMessage">
	Désolé : {{errorMessage}}
</div>